@import "../../../assets/css/mixins";

.pointDescription{
    @include flex-column;
    gap: 10px;
}

.name{
    border-radius: 10px;
    background-color: #ddd;
    padding: 10px;
    text-align: center;
}

.image{
    width: 100%;
    margin: 10px 0;
    border-radius: 10px;
    cursor: pointer;
}
