.Header{
    position: fixed;
    width: 100vw;
    height: 73px;
    top: 0;
    right: 0;
    background-color: #fff;
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo {
    position: relative;
    display: block;
    height: 90%;
    left: 1vw;
    top: 0vh;
    object-fit: cover;
    filter: grayscale(1);
    &:hover{
        filter: grayscale(0);
    }
}
.logoOuter{
    position: relative;
    height: 100%;
    display: flex;
}
.RussianFlow{
    padding-right: 10%;
    font-size: 24px;
}
.networkStatus{
    position: absolute;
    right: 0;
    top: 63px;
    background-color: #fff;
    padding: 10px;
    border-radius: 0 0 0 10px;
    display: flex;
    flex-direction: column;
}
.mainButtons{
    display: flex;
    height: 100%;
    padding: 0 20px;
    gap: 20px
}
.HeaderButtonBlock{
    justify-self: flex-end;
    height: 100%;
    display: flex;
    gap: 10px;
    padding-right: 30px;
}
.HeaderButton{
    height: 100%;
    display: grid;
    align-items: center;
    padding: 0px 20px;
    cursor: pointer;
    text-align: center;
}
.HeaderButton:hover{
    filter: brightness(1.2);
}
.inputBurger {
    display: none;
    visibility: hidden;
    &:checked ~ .HeaderButtonBlock {
        backdrop-filter: brightness(0.4);
        transition: 0.3s;
        opacity: 1;
        visibility: visible;
    }
}
.Burger{
    display: none;
    scale: 0.7;
}
@media screen and (max-width: 700px){
    .inputBurger{
        display: block;
    }
    .Burger{
        display: block;
    }
    .HeaderButtonBlock{
        transition: 0.3s;
        opacity: 0;
        visibility: hidden;
        padding: 10px;
        height: fit-content;
        position: absolute;
        right: 0;
        top: 73px;
        flex-direction: column;
        & .HeaderButton{
            padding: 10px;
        }
    }
}
